/*Color de fondo general del sitio*/
body{
    background-color: #e2e2e2;
}
a{
    outline: none !important;
}
/*Actualización de estilo para el efecto de load del index*/
.spinner7{
	position: relative !important;
    margin: auto !important;
    left: auto !important;
    width: 250px !important;
    height: 70px !important;
    padding-top: 70px;
    background-image: url("../img/scotiabank-logo-blanco.png");
    background-size: contain;
    background-repeat: no-repeat;
}
ul.enlacei li a{
    text-orientation: none;
    color: #ffffff;
    font-size: 16px;
}
/*Color rojo institucional rojo para fondos*/
.bg-c-institucional{
	background-color: #d81e05 !important;
}
.bg-c-blanco{
    background-color: #ffffff;
}
.color-rojo{
    color: #ff0000 !important;
}
.color-amarillo{
    color: #fbba00 !important;
}
.color-celeste{
    color: #3399cc !important;
}
.color-morado{
    color: #9373b1 !important;
}
.color-verde{
    color: #666600 !important;
}
.color-rosa{
    color: #cc0066 !important;
}
.color-blanco{
    color: #ffffff !important;
}
.color-negro{
    color: #666666 !important;
}
.centrar-contenido{
    margin: 0 auto;
}
.btn-outline-withe{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-outline-withe:hover {
    color: #d81e05;
    background-color: #fff;
    border-color: #fff;
}
.alto-c-index{
    min-height: 430px;
}
.padding-top-bottom-boot{
    padding-top: 15px;
    padding-bottom: 15px;
}
.no-padding-lr{
    padding-left: 0px;
    padding-right: 0px;
}
.bg-c-hover{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #d81e05;
    opacity: 0.8;
    z-index: 1071;
}
.bg-i-cpymes{
    background-color: #ffffff;
    background-image: url("../img/credito-pymes.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -70px;
}
.bg-i-tcomunitario{
    background-color: #ffffff;
    background-image: url("../img/trabajo-comunitario.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
}
.bg-i-tscotiabank{
    background-color: #ffffff;
    background-image: url("../img/tarjetas-scotiabank.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 150px;
}
.bg-i-eimportantes{
    background-color: #ffffff;
    background-image: url("../img/enlaces-importantes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
}
.bg-i-tdispositivos{
    background-color: #ffffff;
    background-image: url("../img/todos-dispositivos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
}
.texto-comunitario{
    line-height: 0.8;
    font-size: 3.5rem;
}
.footer-s-negro{
    background-color: #5d5d5d;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
}
footer ul{
    list-style: none;
    padding-left: 0px;
    line-height: 2;
    font-weight: bold;
}
footer ul li:hover{
    border-top: 1px solid #d81e05;
    border-bottom: 1px solid #d81e05;
}
.icons{
    font-size: 45px !important;
}
#map{
    width: 100%;
    height: 300px;
}
@media (max-width: 991px) {
    .bg-i-cpymes{
        background-position-x: 0px;
    }
}